@import "/public/assets/css/variablesAndThemes/variables.scss";

.Rightbar {
    min-width: 30rem;
    background: var(--txt-400);
    max-height: 30rem;
    border-radius: $br-0;
    padding: 1.6rem;
    padding-top: 1.5rem;

    h1 {
        font-weight: 500;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        color: var(--txt-100);
    }

    .listRecommend {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user_profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.4rem;
        cursor: pointer;

        .profile {
            display: flex;
            align-items: center;
            font-size: 1.1rem;

            .nameFollow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                svg {
                    font-size: 1.5rem;
                    color: white;
                }
            }

            .image {
                position: relative;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 1rem;
            }

            .info {
                font-size: 1.2rem;
                color: var(--txt-200);

                .name {
                    font-size: 1.3rem;
                    font-weight: $font-bold;
                    color: var(--txt-100);
                }
            }
        }
    }
}