.Main_container {
  display: flex;
  background-color: red;
  .left_container {
    background-color: #bfbfbf;
    flex: 5;
    height: calc(100vh - var(--nav-height));
  }
  .right_container {
    flex: 7;
    background-color: #000000;
    color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  h3 {
    color: white;
  }

  h2 {
    margin-bottom: 2rem;
  }

  label {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  input {
    margin-bottom: 1.5rem;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  ::placeholder {
    color: #bfbfbf;
  }
  button {
    background-color: #bfbfbf;
    border: none;
    border-radius: 3px;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .link {
    text-decoration: underline;
    font-size: 1.2rem;
  }

  .hr_container {
    display: flex;
    align-items: center;
    color: #b8b8b8;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  hr {
    display: inline-block;
    border: 0;
    border-top: 1px solid #b8b8b8;
    width: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .icons_container {
  }
  .icons {
    margin: 1rem;
    margin-left: 0;
    padding: 5px;
    color: black;
    border-radius: 3px;
    background: white;
  }
  .icons:first {
    margin-left: 0px;
  }
}
