.Navbar_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--primary-000);
    color: var(--txt-000);
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    .links_container {
        display: flex;
        margin-left: 60px;
        align-items: center;
        gap: 20px;

        .link,
        .link_dropdown {
            cursor: pointer;
        }

        .link_dropdown {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
                font-size: 1.8rem;
            }
        }
    }

    .search_container {
        margin-left: auto;
        width: 400px;
        height: max-content;
        background: var(--txt-100);
        border-radius: var(--br-0);
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 10px 2.5rem;
        padding-right: 1.5rem;
        color: var(--primary-000);
        margin-right: 20px;

        input {
            font-size: 1.3rem;
            width: 100%;
            background: transparent;
            outline: none;
            border: none;
        }

        svg {
            font-size: 2rem;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .utils_container {
        .login_signup {
            display: flex;
            align-items: center;
            gap: 20px;

            .auth_btn {
                background: var(--primary-100);
                padding: 7px 20px;
                border-radius: var(--br-0);
                cursor: pointer;

                &:hover {
                    background: rgb(197, 116, 9);
                }
            }
        }

        .logged_in {
            display: flex;
        }
    }
}