:root {

    /* named colors */
    --purple: rgb(123, 31, 162);
    --violet: rgb(129, 88, 201);
    --pink: rgb(218, 102, 141);
    --green: #379c7d;
    --dark-blue: #0E1218;
    --black: #0F0F0F;
    --orange: #E25932;
    --blue: #2884FF;

    /* neutral */
    --neutral-light-000: #ffff;
    --neutral-light-100: #e4e4e4;
    --neutral-light-200: #9f9f9f;
    --neutral-light-300: #5e5d5d;
    --neutral-light-400: #343434;
    --neutral-light-500: #252628;
}